body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #afbfeb 0%, #2661d6 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: white;
  padding: 30px;
  border-radius: 50px;
  width: 25%;
  box-shadow: 0 0 10px 0px rgba(255, 255, 255, 0.9);
}

h1 {
  text-align: center;
  margin-bottom: 5px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 6px;
  font-size: 1rem;
}

input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 50px;
  outline: none;
  border: 1px solid #1d4ed8;
}

button {
  display: flex;
  margin: 0 auto;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  background: #2563eb;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  transition: border-radius 0.5s ease-in-out, transform 0.5s ease;
}

button:hover {
  background: #1d4ed8;
  border-radius: 50px;
  transition: border-radius 0.9s ease-in-out, transform 0.9s ease;
}

#error {
  margin-top: 20px;
}

.error-message {
  color: red;
  margin-bottom: 8px;
}